body{
  background-color: #1B1D24;
  color: #fff;
}

.heading{
  text-align: center;
}

.cards__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.carts__container {
  padding: 12px;
  box-shadow: 0px 89px 11px 0px #060532;
}

.cart__heading {
  text-transform: uppercase;
}

.order__container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.img__container {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.cart__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
}

.cart__quantity {
  font-weight: bold;
  color: orange;
  margin-left: 4px;
}

.cart__price {
  font-weight: bold;
  text-align: left;
  margin-left: auto;
}

.cart__edit {
  text-decoration-line: none;
  color: #b19b0b;
}

.cart__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}